.wrapper {
  margin: 24px 0;
  box-shadow: 2px 2px 4px #757575;
  position: relative;
  overflow-y: hidden;
  height: 100%;
}

.editor {
  background-color: #fff;
  padding: 0 8px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  flex: 1;
  height: calc(100% - 68px) !important;
}

.toolbar {
  position: sticky;
  margin: 0 !important;
  margin-bottom: 0;
  top: 0;
  z-index: 2;
}
