.wrapper {
  margin: 24px 0;
  box-shadow: 2px 2px 4px #757575;
  position: relative;
  max-height: 90vh;
  overflow-y: scroll;
}
.smallWrapper {
  margin: 8px 0;
  box-shadow: 2px 2px 4px #757575;
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.editor {
  background-color: #fff;
  padding: 8px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  flex: 1;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}
