.content {
  display: grid;
  width: 100%;
  margin-left: 316px;
  padding: 24px;
  min-height: 100%;
}
.mepage {
  display: flex;
  min-height: 100%;
}

.hornav {
  width: 300px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: calc(100% - 72px);
}

@media screen and (max-width: 900px) {
  .mepage {
    padding: 8px;
  }
  .hornav {
    display: none;
  }
  .content {
    padding-top: 8px;
    margin-left: 0;
  }
}
