@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 32px;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 8px !important;
  }
}
