.postpage {
  padding: 0;
  height: max-content;
  position: relative;
  height: 100%;
}
.waveBox {
  width: 100%;
  position: relative;
  z-index: -1;
  aspect-ratio: 1920 / 446;
}
.section {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  transform: translateY(-16%);
  padding: 0 20px;
}
.post {
  max-width: 100%;
  overflow-x: hidden;
}
.header {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
}
.postInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  padding: 0 4px;
  color: #111f4d;
  font-size: 40px;
}
.postImage {
  place-self: center;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  min-width: 100%;
  background-color: #eeeeee;
}
.image {
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #fff !important;
}
.smallText {
  font-size: 15px;
  margin: 0;
}
.secondary {
  color: #757575;
  font-weight: 800;
  padding: 0 4px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.likes {
  display: flex;
  padding: 0 4px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 4px 8px;
}
.body {
  max-width: 100%;
  padding: 0 4px;
  position: relative;
}
.readmore {
  margin-top: 48px;
}
@media screen and (max-width: 1100px) {
  .section {
    grid-template-columns: 1fr;
  }
  .section {
    padding: 0 4px;
    top: 24px;
    transform: translateY(-10%);
  }
}

@media screen and (max-width: 900px) {
  .postpage {
    padding: 0 !important;
  }
  .section {
    padding: 0 4px;
    top: 24px;
    transform: none;
  }
  .title {
    font-size: 24px;
  }
  .header {
    grid-template-columns: 1fr;
  }
  .postImage {
    aspect-ratio: 16 / 9;
  }
  .waveBox {
    display: none;
  }
  .tags {
    margin-bottom: 16px;
  }
}
