.postsPage {
  padding: 24px;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr 240px;
  grid-gap: 12px;
  background-color: #eeeeee;
  min-height: 100vh;
}
.first {
  background-color: #fff;
  height: 400px;
  padding: 8px;
  border-radius: 8px;
}
.title {
  font-weight: 400;
  margin-top: 8px;
}
.languages {
  display: grid;
  grid-gap: 8px;
}
.second {
  display: grid;
  height: max-content;
  grid-gap: 8px;
}
.third {
  background-color: #fff;
  height: 400px;
  position: relative;
  border-radius: 8px;
}

/**********question-styles*************/
.question {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
}
.likeText {
  margin: 0;
  font-size: 14px;
  color: #757575;
  font-weight: 600;
}
.body {
  margin: 16px 0;
}
.editor {
  height: 316px;
  background-color: #fff;
}
@media screen and (max-width: 1000px) {
  .postsPage {
    grid-template-columns: 0.3fr 0.9fr;
  }
}

@media screen and (max-width: 900px) {
  .postsPage {
    padding: 8px;
    grid-template-columns: 1fr;
  }
  .first,
  .third {
    display: none;
  }
  .questionTitle {
    font-size: 20px;
  }
}
